OPENAI_API_KEY=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
OPENAI_MODEL=gpt-5-nano
OPENAI_EMBEDDINGS_MODEL=text-embedding-3-small
TEMPERATURE=0.5
CHUNK_SIZE=1000
CHUNK_OVERLAP=150
SIMILARITY_K=10

PGVECTOR_HOST=postgresql+psycopg2://postgres:postgres@localhost:5432/rag
PGVECTOR_PORT=5432
PGVECTOR_USER=postgres
PGVECTOR_PASSWORD=postgres
PGVECTOR_DB=rag


PDF_PATH=E:\Projetos\EngIA\_desafios\1-ingestao-busca-semantica-langchain-postgres\document.pdf