OPENAI_API_KEY=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
OPENAI_MODEL=gpt-5-nano
OPENAI_EMBEDDINGS_MODEL=text-embedding-3-small
TEMPERATURE=0.5
CHUNK_SIZE=1000
CHUNK_OVERLAP=150
SIMILARITY_K=10

PGVECTOR_HOST=postgresql+psycopg2://postgres:postgres@localhost:5432/rag
PGVECTOR_PORT=5432
PGVECTOR_USER=postgres
PGVECTOR_PASSWORD=postgres
PGVECTOR_DB=rag


PDF_PATH=E:\Projetos\EngIA\_desafios\1-ingestao-busca-semantica-langchain-postgres\document.pdf